<!DOCTYPE html>
<html>
<head>
	<title>Angular Demo from Tim Batty</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script type="text/javascript" src="script.js"></script>
</head>
<body>
<h1>Angular demo</h1>
<div ng-app="">
	<input type="text" ng-model="noun" placeholder="noun" name="">
	<input type="text" ng-model="adjective" placeholder="adjective" name="">
	<input type="number" ng-model="number1" placeholder="number1" name="">
	<input type="number" ng-model="number2" placeholder="number2" name="">
	<input type="text" ng-model="verb" placeholder="verb" name="">
	<input type="name" ng-model="name" placeholder="name" name="">
	<input type="text" ng-model="things" placeholder="things" name="">
	<input type="text" ng-model="boolean" placeholder="true or false" name="">
	<h1 ng-if="(noun && adjective)"> Today I saw a {{noun}} and it made me feel {{adjective}}.</h1>
	<h1 ng-if="(name && adjective)"> So I talked to my friend {{name}} and they were like {{adjective}}.</h1>
	<h1 ng-if="(noun && adjective)"> They said "If I had {{number1}} of {{noun}} and I duplicated them each {{number2}} times, how would I know if they were happy?"</h1>
	<h1 ng-if="(noun && adjective)"> Do you think it is {{boolean}} that those statements were {{!verb}}?</h1>
	<h1 ng-if="(noun && adjective)"> I told him that he would have  {{number1 * number2}} {{noun}}, and you would have a hard time figuring out how which were which.</h1>
	<h1 ng-if="(boolean)"> Who would like {{number1 + number2}} {{noun}}, and would you like more {{things}} .</h1>
	<h1 ng-if="(!boolean)"> Here is another number {{number1 - number2}}, you didn't want more {{things}} so {{name}} ate them.</h1>
<h1>{{things}}</h1>
</div>
</body>
</html>